
body{
background-color: #ffffff;}

.headers{font-family:Georgia,"Times New Roman",Times,serif;}
#bio{text-align: center}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div #wrapper{min-height: 80%;
padding-botton:10px;
}

footer.footer {min-height: 20%; 
    overflow: auto;
background-color:#666666;
}

 
